<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Blog</title>

    <!-- Bootstrap required CSS -->
    <!--<link rel='stylesheet' href='/stylesheets/bootstrapDefault.css'/> -->
    <link rel='stylesheet' href='/stylesheets/bootstrapSlate.css'/>
    <!-- Alerts required CSS -->
    <link rel="stylesheet" href="/stylesheets/sweetalert.css"/>
    <!-- Template required CSS -->
    <link rel="stylesheet" href="/stylesheets/template.css"/>
    <link rel="stylesheet" href="/stylesheets/templateCB.css"/>
    <!-- Other custom CSS -->
    <link rel="stylesheet" href="/stylesheets/custom.css"/>

    <!-- jquery JS -->
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <!-- Template required JS -->
    <script src="/javascripts/jquery.colorbox-min.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/functions.js"></script>
    <!-- Bootstrap required JS -->
    <script src="/javascripts/bootstrap.js"></script>
    <!-- Alerts required JS -->
    <script src="/javascripts/sweetalert.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <p>TODO:add social icons :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                <a href="/" class="navbar-brand brand-name pull-left">SoftUni Blog</a>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-8">
                <div class="navbar navbar-default text-uppercase">
                    <div class="navbar-header">
                        <!-- this makes the small buttons for mobile -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    {{#if user}}
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {{#if isAdmin}}
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/admin/user/all">Users</a></li>
                                            <li><a href="/admin/category/all">Categories</a></li>
                                        </ul>
                                    </li>
                                {{/if}}
                                <li><a href="/user/details">Welcome({{user.email}})</a></li>
                                <li><a href="/article/create">New Article</a></li>
                                <li><a href="/user/logout">Logout</a></li>
                            </ul>
                        </div>
                    {{/if}}
                    {{#unless user}}
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/user/register">Register</a></li>
                                <li><a href="/user/login">Login</a></li>
                            </ul>
                        </div>
                    {{/unless}}

                </div>
            </div>
        </div>
    </div>

</header>
<!--ERROR BOX-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#if error }}
                <h2>{{error}}</h2>
            {{/if}}
        </div>
    </div>
</div>
<!-- Side menu and Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <!-- sidebar -->
            <aside class="sidebar">
                <div class="widget">
                    <h3 class="widgettitle">Genres</h3>
                    <ul>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Family</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Mystery</a></li>
                        <li><a href="#">Sci-Fi</a></li>
                        <li><a href="#">War</a></li>
                        <li><a href="#">Western</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Crime</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Thriller</a></li>
                    </ul>
                </div>

                <div class="widget">
                    <h3 class="widgettitle">Opening This Week</h3>
                    <ul>
                        <li><a href="#">The Hunter Games <strong>$98 Mil</strong></a></li>
                        <li><a href="#">American Reunion <strong>$50 Mil</strong></a></li>
                        <li><a href="#">Titanic <strong>$23 Mil</strong></a></li>
                        <li><a href="#">Wrath of the Titans <strong>$50 Mil</strong></a></li>
                        <li><a href="#">Mirror Mirro  <strong>$7 Mil</strong></a></li>
                    </ul>
                </div>

                <div class="widget socials-widget">
                    <h3 class="widgettitle">Get Connected</h3>
                    <ul>
                        <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
                        <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
                        <li><a href="#" class="linkedin-ico"><span></span>Linkedin</a></li>
                        <li><a href="#" class="you-tube-ico"><span></span>Youtube</a></li>
                        <li><a href="#" class="rss-ico"><span></span>RSS</a></li>
                    </ul>
                </div>
            </aside>
            <!-- end of sidebar -->
        </div>

        <div class="col-lg-10 col-md-9  col-sm-8 col-xs-12">
            <!-- content -->
            <section class="content">
                <!-- post -->
                <div class="post">
                    <!-- post-inner -->
                    <div class="post-inner">
                        <header>
                            <h2><a href="#">MovieTitle 1 Goes Here</a></h2>
                            <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                            <div class="cl">&nbsp;</div>
                        </header>
                        <div class="img-holder">
                            <a href="#"><img src="images/post-img.jpg" alt="" /></a>
                            <a href="images/post-img.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a>
                        </div>

                        <!-- meta -->
                        <div class="meta">
                            <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                            <div class="right">
                                <div class="rating-holder">
                                    <p>RATING</p>
                                    <div class="rating">
                                        <span style="width: 100%;"></span>
                                    </div>
                                </div>
                                <a href="#" class="comments">59 comments</a>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        <!-- end of meta -->
                        <!-- post-cnt -->
                        <div class="post-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                            <a href="#" class="more">CONTINUE READING</a>
                        </div>
                        <!-- end of post-cnt -->
                    </div>
                    <!-- post-inner -->
                </div>
                <!-- end of post -->
                <!-- post -->
                <div class="post">
                    <!-- post-inner -->
                    <div class="post-inner">
                        <header>
                            <h2><a href="#">MovieTitle 2 Goes Here</a></h2>
                            <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                            <div class="cl">&nbsp;</div>
                        </header>
                        <div class="img-holder">
                            <a href="#"><img src="images/post-img2.jpg" alt="" /></a>
                            <a href="images/post-img2.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a>
                        </div>

                        <!-- meta -->
                        <div class="meta">
                            <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                            <div class="right">
                                <div class="rating-holder">
                                    <p>RATING</p>
                                    <div class="rating">
                                        <span style="width: 50%;"></span>
                                    </div>
                                </div>
                                <a href="#" class="comments">59 comments</a>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        <!-- end of meta -->
                        <!-- post-cnt -->
                        <div class="post-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                            <a href="#" class="more">CONTINUE READING</a>
                        </div>
                        <!-- end of post-cnt -->
                    </div>
                    <!-- post-inner -->
                </div>
                <!-- end of post -->
                <!-- post -->
                <div class="post">
                    <!-- post-inner -->
                    <div class="post-inner">
                        <header>
                            <h2><a href="#">MovieTitle 3 Goes Here</a></h2>
                            <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                            <div class="cl">&nbsp;</div>
                        </header>
                        <div class="img-holder">
                            <a href="#"><img src="images/post-img3.jpg" alt="" /></a>
                            <a href="images/post-img3.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a>
                        </div>

                        <!-- meta -->
                        <div class="meta">
                            <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                            <div class="right">
                                <div class="rating-holder">
                                    <p>RATING</p>
                                    <div class="rating">
                                        <span style="width: 70%;"></span>
                                    </div>
                                </div>
                                <a href="#" class="comments">59 comments</a>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        <!-- end of meta -->
                        <!-- post-cnt -->
                        <div class="post-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                            <a href="#" class="more">CONTINUE READING</a>
                        </div>
                        <!-- end of post-cnt -->
                    </div>
                    <!-- post-inner -->
                </div>
                <!-- end of post -->
                <div class="pagination">
                    <ul>
                        <li class="laquo"><a href="#"><span></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="raquo"><a href="#"><span></span></a></li>
                        <li><a href="#">10</a></li>
                        <li class="dots">. . .</li>
                        <li><a href="#">last</a></li>
                    </ul>
                </div>
            </section>
            <!-- end of content -->
    </div>
    </div>
</div>
<div class="container">
    {{{body}}}
</div>



</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="modal-footer custom-shadow-top col-md-12">
                <div class="footer">
                    <div class="col-md-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">Show All</a></li>
                                <li><a href="#">Latest Movies</a></li>
                                <li><a href="#">Top Rated</a></li>
                                <li><a href="#">Most Commented</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <p class="copy">Copyright &copy; 2016 <span>|</span> This site is Designed for <a href="https://softuni.bg/" target="_blank">softuni.bg</a> as part of Software Technologies course!</p>

                    </div>


                </div>
            </div>
        </div>
    </div>

</footer>
</html>
