<div class="container body-content span=8 offset=2">
    <div class="box well">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Our
                <strong>Team</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center post-inner portret-style">
            <img class="img-responsive" src="/images/ted.jpg" alt=""/>
            <h3>Theodora
                <small>developer</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center post-inner portret-style">
        <img class="img-responsive" src="/images/boris.jpg" alt=""/>
        <h3>Boris
            <small>developer</small>
        </h3>
    </div>
        <div class="col-sm-4 text-center post-inner portret-style">
            <img class="img-responsive" src="/images/emo.jpg" alt=""/>
            <h3>Emo
                <small>developer</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center post-inner portret-style">
            <img class="img-responsive" src="/images/Petio.jpg" alt=""/>
            <h3>Petio
                <small>developer</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center post-inner portret-style">
            <img class="img-responsive" src="/images/venci.jpg" alt=""/>
            <h3>Venci
                <small>developer</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center post-inner portret-style">
            <img class="img-responsive" src="/images/marti.jpg" alt="" />
            <h3>Marto
                <small>developer</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


