<div class="container body-content span=8 offset=2">
    <div class="well">

        <form class="form-horizontal" method="post" action="#">
            <fieldset>
                <legend>
                    <h2 class="intro-text text-center">
                        <strong>Let's Get In Touch!</strong>
                    </h2>
                    <hr>
                    <h3>If you have any questions do not hesitate to contact us, we will be happy to answer you!</h3>
                </legend>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required
                               name="fullName" value={{fullName}}>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email"
                               required value={{email}}>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputPhone">Phone Number</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" required
                               name="inputPhone" value={{fullName}}>
                    </div>
                </div>

                <div class="form-group">
                    <label for="message" class="col-sm-4 control-label">Message</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="5"  id="message" name="message"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>