<!-- Side menu and Content-->
<div class="container">

    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <!-- sidebar -->
        <aside class="sidebar">

            <!-- Side menu Bootstrap -->
            <div class="widget">
                <div class="nav-side-menu">
                    <div class="navbar navbar-default widgettitle-container" data-toggle="collapse" data-target="#menu-content">
                        <h3 class="widgettitle display-inline">Categories</h3>
                        <div class="navbar-header display-inline pull-right">
                            <!-- this makes the small buttons for mobile -->

                            <button type="button" class="navbar-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <div class="menu-list">
                        <ul id="menu-content" class="menu-content collapse out">
                            {{#each categories}}
                                <li>
                                    <a href="/category/{{ this.id }}" class="hoverbuble">{{ this.name }}  <span>{{ this.articles.length }}</span></a>
                                </li>
                            {{/each}}

                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of Side menu Bootstrap -->
        </aside>
    </div>

    <!-- end of sidebar -->
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-10 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="images/slide 1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 5.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 6.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 7.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="images/slide 8.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to word of the films</small>
                    </h2>
                    <h1 class="brand-name"></h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>Created by our team
                            <strong>VEMP TV</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 2000 //changes the speed
        })
    </script>
</div>
