<!-- Side menu and Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <!-- sidebar -->
            <aside class="sidebar">

                <!-- Side menu Bootstrap -->
                <div class="widget">
                    <div class="nav-side-menu">
                        <div class="navbar navbar-default widgettitle-container" data-toggle="collapse" data-target="#menu-content">
                            <h3 class="widgettitle display-inline">Categories</h3>
                            <div class="navbar-header display-inline pull-right">
                                <!-- this makes the small buttons for mobile -->

                                <button type="button" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="menu-list">
                            <ul id="menu-content" class="menu-content collapse out">
                                {{#each categories}}
                                <li>
                                    <a href="/category/{{ this.id }}" class="hoverbuble">{{ this.name }}  <span>{{ this.articles.length }}</span></a>
                                </li>
                                {{/each}}

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End of Side menu Bootstrap -->
            </aside>
            <!-- end of sidebar -->
        </div>

        <div class="col-lg-10 col-md-9  col-sm-8 col-xs-12">
            <!-- content -->
            <section class="content">
                <!-- post -->
                <div class="post">
                    <!-- post-inner -->
                    <div class="post-inner">
                        <header>
                            <h2><a href="#">MovieTitle 1 Goes Here</a></h2>
                            <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                            <div class="cl">&nbsp;</div>
                        </header>
                        <div class="img-holder">
                            <a href="#"><img class="post-Image-link" src="images/post-img.jpg" alt="" /></a>
                            <a href="images/post-img.jpg" class="btn-full-image popup group1"><span>FULL IMAGE</span></a>
                        </div>

                        <!-- meta -->
                        <div class="meta">
                            <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                            <div class="right">
                                <div class="rating-holder">
                                    <p>RATING</p>
                                    <div class="rating">
                                        <span style="width: 100%;"></span>
                                    </div>
                                </div>
                                <a href="#" class="comments">59 comments</a>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        <!-- end of meta -->
                        <!-- post-cnt -->
                        <div class="post-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                            <a href="#" class="more">CONTINUE READING</a>
                        </div>
                        <!-- end of post-cnt -->
                    </div>
                    <!-- post-inner -->
                </div>
                <!-- end of post -->
                <!-- post -->
                <div class="post">
                    <!-- post-inner -->
                    <div class="post-inner">
                        <header>
                            <h2><a href="#">MovieTitle 2 Goes Here</a></h2>
                            <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                            <div class="cl">&nbsp;</div>
                        </header>
                        <div class="img-holder">
                            <a href="#"><img class="post-Image-link" src="images/post-img2.jpg" alt="" /></a>
                            <a href="images/post-img2.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a>
                        </div>

                        <!-- meta -->
                        <div class="meta">
                            <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                            <div class="right">
                                <div class="rating-holder">
                                    <p>RATING</p>
                                    <div class="rating">
                                        <span style="width: 50%;"></span>
                                    </div>
                                </div>
                                <a href="#" class="comments">59 comments</a>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        <!-- end of meta -->
                        <!-- post-cnt -->
                        <div class="post-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                            <a href="#" class="more">CONTINUE READING</a>
                        </div>
                        <!-- end of post-cnt -->
                    </div>
                    <!-- post-inner -->
                </div>
                <!-- end of post -->
                <!-- post -->
                <div class="post">
                    <!-- post-inner -->
                    <div class="post-inner">
                        <header>
                            <h2><a href="#">MovieTitle 3 Goes Here</a></h2>
                            <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                            <div class="cl">&nbsp;</div>
                        </header>
                        <div class="img-holder">
                            <a href="#"><img class="post-Image-link" src="images/post-img3.jpg" alt="" /></a>
                            <a href="images/post-img3.jpg" class="btn-full-image popup"><span>FULL IMAGE</span></a>
                        </div>

                        <!-- meta -->
                        <div class="meta">
                            <p class="date">APRIL 09, 2012 by <a href="#">JOHN DOE</a></p>
                            <div class="right">
                                <div class="rating-holder">
                                    <p>RATING</p>
                                    <div class="rating">
                                        <span style="width: 70%;"></span>
                                    </div>
                                </div>
                                <a href="#" class="comments">59 comments</a>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        <!-- end of meta -->
                        <!-- post-cnt -->
                        <div class="post-cnt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut commodo orci vitae enim volutpat dapibus. Aliquam pharetra, odio eu luctus semper, dolor libero volutpat mi, sit amet convallis tortor justo eu nisl. Cras quis felis quis felis tempor volutpat id at dui. Donec vel turpis id odio tempus mollis quis vel justo. Etiam tortor nisi, pulvinar a mattis nec, luctus sit amet odio. Morbi id commodo ligula. </p>
                            <a href="#" class="more">CONTINUE READING</a>
                        </div>
                        <!-- end of post-cnt -->
                    </div>
                    <!-- post-inner -->
                </div>
                <!-- end of post -->
                <div class="pagination">
                    <ul>
                        <li class="laquo"><a href="#"><span></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="raquo"><a href="#"><span></span></a></li>
                        <li><a href="#">10</a></li>
                        <li class="dots">. . .</li>
                        <li><a href="#">last</a></li>
                    </ul>
                </div>
            </section>
            <!-- end of content -->
        </div>
    </div>
</div>