<!DOCTYPE html>
<html>
<head>
    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('/images/searchh.ico');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            margin-left: 500px;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input[type=text]:focus {
            width: 40%;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="well">

    <form>
      <center>  <h1><strong>Describe a movie</strong></h1>
    <h2>Search by titles of movies. We find movies for you .</h2></center>
    <input type="text" name="search" placeholder="Search..">
        <img src="/images/movie time.jpg" alt=""  style="width:1100px;height:600px; margin-center: 100px;">
    </form>


    </div>
</div>
</body>
</html>

